body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1;
}

textarea {
	background: transparent;
	border: none;
	resize: none;
	color: #000000;
	border-left: 1px solid black;
	padding: 10px;
}

.jumbotron {
	text-align: center;
	background-image: url(https://images.pexels.com/photos/905318/pexels-photo-905318.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	/* background-position: center bottom; */
	background-size: 100% 100%;
	color: rgb(11, 49, 11);
	border-radius: 0;
	border-bottom: 10px solid rgb(32, 61, 52);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
}

.description {
	white-space: pre-wrap;
}

.time-block {
	text-align: center;
	border-radius: 15px;
}

.row {
	white-space: pre-wrap;
	height: 80px;
	border-top: 1px solid white;
}

.hour {
	background-color: #ffffff;
	color: #000000;
	border-top: 1px dashed #000000;
}

/*changes the color for past element*/
.past {
	background-color: #d3d3d3;
	color: black;
}

/*changes the color for present element*/
.present {
	background-color: #d1504a;
	color: black;
}

/*changes the color for future element*/
.future {
	background-color: #77dd77;
	color: black;
}

.saveBtn {
	border-left: 1px solid black;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: #105040;
	color: white;
	padding: 30px;
}

.saveBtn i:hover {
	font-size: 20px;
	transition: all .2s ease-in-out;
}

.text-block {
	width: 100%;
}

/*edits bootstrap pill*/
.badge {
	height: 200px;
	width: 800px;
	padding-top: 25px;
	background-color: rgb(32, 61, 52);
}
